{% extends "base.html" %}


{% block header %}
    Your accounts
{% endblock %}


{% block content %}

    <table class="table table-condensed table-hover table-bordered">
        <tr>
            <th>Account</th>
        </tr>
        {% for account in object_list %}
            <tr>
                <td><a href="/account/{{account.pk}}/">{{ account.name}}</td>
            </tr>
        {% endfor %}
    </table>
    <p>
        Total: {{ view.total }}
    </p>

    <p>
        <a class="btn-lg btn-primary" href="{% url "add-account" %}">Add</a>
    </p>




{% endblock %}

